
<nav id="pager" data-total-pages='{{totalPages}}' data-current-page='{{currentPage}}'>
<span>总共{{totalPages}}页，当前{{currentPage}}页</span>
</nav>
<article>
{{#each contents}}
  <h1>{{title}}</h1>
  <p>{{content}}</p>
{{/each}}
</article>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
 {
   let $pager = $('#pager');
   let totalPages = $pager.data('total-pages');
   let currentPage = $pager.data('current-page');
   console.log(totalPages,currentPage);
   let buttonCount = 10;

   let $ol = $('<ol></ol>');
   let start1 = Math.max(1,currentPage-buttonCount/2),
       end1 = Math.min(start1 + buttonCount-1,totalPages),
       end2 = Math.min(totalPages,currentPage+buttonCount/2-1),
       start2 = Math.max(end2-buttonCount+1,1),
       start = Math.min(start1,start2),
       end = Math.max(end1,end2);
  for(let i = start ; i <= end; i++){
    let $li;
      if(currentPage === i){
        $li = $(`<li><span>${i}</span></li>`);
      }else{
        $li = $(`<li><a href="?page=${i}">${i}</a></li>`);
      }
    $ol.append($li);
  }

   $pager.append($ol);
 }
</script>